@import "tailwindcss";

@theme {
  --color-gray-50: #f9fafb;
  --color-gray-900: #111827;
  --color-gray-800: #1f2937;
  --color-gray-700: #374151;
}

@variant dark (.dark &);

@layer utilities {
  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: none;
    }
  }
  .animate-fadeIn {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.7s cubic-bezier(0.4,0,0.2,1) forwards;
  }
}
